<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.petti.repository.product_board.ProductAttachRepository">

 	<insert id="insert">
		insert into tbl_reviewPhoto (ano,uuid,uploadPath,fileName,fileType,pno)
		values (seq_photo.nextval, #{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{pno})
	</insert>
	
	<delete id="delete">
		delete from tbl_reviewPhoto where uuid=#{uuid}
	</delete>

	<delete id="deleteAll">
		delete from tbl_reviewPhoto where pno=#{pno}
	</delete>

	<select id="selectByPno" resultType="productBoardAttachVO">
		select * from tbl_reviewPhoto where pno = #{pno}
	</select>
	
	<select id="selectByUuid" resultType="productBoardAttachVO">
		select * from tbl_reviewPhoto where uuid = #{uuid}
	</select>
	
	<select id="selectThumbnail" resultType="productBoardAttachVO">
		select uuid, uploadPath, fileName, fileType, pno
		FROM (
		    SELECT uuid, uploadPath, fileName, fileType, pno, ano,
		           ROW_NUMBER() OVER (PARTITION BY pno ORDER BY ano asc) AS rn
		    FROM tbl_reviewPhoto
		) ranked
		WHERE rn = 1
	</select>
	
</mapper>